#content-left .form-group {
    margin-bottom: 1rem;
  }
  
  #content-left .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  #content-left .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }
  
  #content-left .form-control {
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
  
  #content-left .input-group-append {
    display: flex;
  }
  
  #content-left .btn-primary {
    margin-left: -1px;
  }
  
  #content-left #search-error {
    margin-top: 0.5rem;
  }
  
  #content-left #city-results {
    margin-top: 1.5rem;
  }
  
  #content-left #clear-storage {
    display: none;
  }
  
  #content-right #current-weather {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  
  #content-right #five-day-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  header.jumbotron {
    background: #1a2846;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 1180px) {
    #content-right #five-day-forecast {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 576px) {
    #content-right .row.present-day-weather {
      --bs-gutter-x: 0rem;
      margin: 1rem 0;
    }
  
    #content-right .present-day-weather ul {
      margin: 1rem 0;
    }
  }
  